{% extends 'todo_app/base.html'%}

{%block content %}

<!-- partial:index.partial.html -->
<!-- <div class="sorting">
    <ul>
        <li>Sort by Date Added</li>
        <li>Sort by Due Date</li>
        <li>Sort by Priority</li>
    </ul>
</div> -->

<nav class="create-nav">
  <ul class="create-ul">
    <li class="create-task"><a href="{% url 'create' %}">Add a Task</a></li>
  </ul>
</nav>

  <section class="timeline">
        <ul>
          {% for task in tasks%}
          <li>
            <div>
              <time>
               {{task.created|date:'d-m-Y'}} 
              </time>
              <div class="discovery">
                
                  {% if task.complete == True %}
                  <p><strike>{{task.title}}</strike></p>
                  {% else %}
                  <p>{{task.title}}</p>
                  {% endif %}
                
              </div>
              <div class="scientist {{ task.priority }}">
                {{ task.priority }}
              </div>
              <div class="update-task">
                <a href="{% url 'update' task.id %}">Update</a>
              </div>
              <div class="delete-task">
                <a href="{% url 'delete' task.id %}">Delete</a>
              </div>
            </div>
          </li>
          {% endfor %}
          
          
          
        </ul>
      </section>
  <!-- partial -->
    <script>
        var items = document.querySelectorAll(".timeline li");

        function isElementInViewport(el) {
        var rect = el.getBoundingClientRect();
        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
            rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
        }

        function callbackFunc() {
        for (var i = 0; i < items.length; i++) {
            if (isElementInViewport(items[i])) {
            if(!items[i].classList.contains("in-view")){
                items[i].classList.add("in-view");
            }
            } else if(items[i].classList.contains("in-view")) {
                items[i].classList.remove("in-view");
            }
        }
        }
        
        window.addEventListener("load", callbackFunc);
        window.addEventListener("scroll", callbackFunc);
    </script>
{%endblock content %}