{% extends 'todo_app/base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">

    <form method="POST">
        <!-- for security purposes django forms require csrf_tokens -->
        {% csrf_token %}
        <fieldset class="form-group" style="color:white;">
            
            {{ form | crispy }}
    
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
</div>
{% endblock content %}

